@import "../assets/less/styles/variables/_colors.less";

body {
  font-family: "Roboto", system-ui, sans-serif !important;
}

.wrapper {
  min-height: 100vh;
  background-color: @gray-lightest;
}

header {
  padding: 2rem 0;

  h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 0px;
  }
}

main {
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}

.code-wrapper {
  display: flex;
  justify-content: center;
  padding: 0 2rem;
  margin: 2rem auto;
}

.code-block {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
  border-radius: 0.75rem;
  border: 4px solid @white;
  background-color: @white;
  color: @black;
  box-shadow: 0 25px 50px -12px rgba(@gray, 0.1);

  pre {
    width: 100%;
    margin-top: 1rem;
    padding: 2rem;
    background: @gray-lightest;
    border-radius: 0.4rem;
    border: solid 2px @gray-lighter;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  }
}
